<tr>
  <td><%= visit.id %></td>
  <td><%= "#{visit.visitor.first_name} #{visit.visitor.last_name}" %></td>
  <td><%= visit.visitor.company %></td>
  <td><%= visit.employee %></td>
  <td><%= visit.created_at %></td>
  <td><%= visit.checked_out_at %></td>
</tr>
